{%- block render -%}
    <figure {% block attributes %}{% endblock %}>
        <blockquote><p>{{- text|nl2br -}}</p></blockquote>

        {% if caption %}
            <figcaption>
                {{- caption -}}
            </figcaption>
        {% endif %}
    </figure>
{%- endblock -%}
