{%- block value -%}
    {% set value = value|default(options.default_value) %}
    <span class="field-boolean">
        {% if options.display == 'checkbox' %}
            {% block checkbox %}
                {% if value %}
                    <span class="fa fa-check-square"></span>
                {% else %}
                    <span class="fa fa-square"></span>
                {% endif %}
            {% endblock %}
        {% elseif options.display == 'toggle' %}
            {% block toggle %}
                {% if value %}
                    <span class="rounded-pill pl-3 pr-1 bg-secondary text-white">
                        <span class="fa fa-circle"></span>
                    </span>
                {% else %}
                    <span class="rounded-pill pr-3 pl-1 bg-secondary text-white">
                        <span class="fa fa-circle"></span>
                    </span>
                {% endif %}
            {% block %}
        {% endif %}
    </span>
{%- endblock -%}
